/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700');
html, body {
  font-family: 'Alegreya Sans', sans-serif;
}
button {
  -webkit-appearance: none;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  box-shadow: 2px 2px 3px grey;
}
