<h1>Account</h1>

<form #userForm="ngForm" (ngSubmit)="onSubmit()">

  <label for="name">
    Name:
  </label>
  <input
    type="email"
    name="name"
    required
    [(ngModel)]="user.name"
    [disabled]="!editMode"
  />
  <br/>

  <label for="email">
    Email:
  </label>
  <input
    type="email"
    name="email"
    required
    [(ngModel)]="user.email"
    [disabled]="!editMode"
  />
  <br/>

  <label for="password">
    Password:
  </label>
  <input
    type="password"
    name="password"
    [(ngModel)]="user.password"
    [disabled]="!editMode"
  />
  <br/>

  <div [hidden]="user.role !== 'admin'">
    <label for="role">
      Role:
    </label>
    <select
      name="role"
      required
      [(ngModel)]="user.role"
      [disabled]="!editMode"
    >
      <option value="user" selected>User</option>
      <option value="manager">Manager</option>
      <option value="admin">Admin</option>
    </select>
    <br/>
  </div>

  <br/>
  <button *ngIf="!editMode" (click)="editUser($event)">
    Edit
  </button>
  <button *ngIf="editMode" type="submit" [disabled]="!userForm.form.valid">
    Update
  </button>

</form>
