<h1>Account</h1>

<form #userForm="ngForm" (ngSubmit)="onSubmit()">

  <label for="name">
    Name:
  </label>
  <input
    type="email"
    name="name"
    required
    [(ngModel)]="user.name"
    [disabled]="!editMode"
  />
  <br/>

  <label for="email">
    Email:
  </label>
  <input
    type="email"
    name="email"
    required
    [(ngModel)]="user.email"
    [disabled]="!editMode"
  />
  <br/>

  <label for="password">
    Password:
  </label>
  <input
    type="password"
    name="password"
    [(ngModel)]="user.password"
    [disabled]="!editMode"
  />
  <br/>

  <div [hidden]="!canEditRole">
    <label for="role">
      Role:
    </label>
    <select
      name="role"
      required
      [(ngModel)]="user.role"
      [disabled]="!editMode"
    >
      <option value="user" selected>User</option>
      <option value="manager">Manager</option>
      <option value="admin">Admin</option>
    </select>
    <br/>
  </div>

  <div class="addresses" *ngIf="user.role === 'user'">
    <div class="address">
      <p>Billing Address</p>
      <label for="billingAddress1">Address 1</label>
      <input
        [disabled]="!editMode"
        name="billingAddress1"
        [(ngModel)]="user.billingAddress.address1"
      />
      <br/>
      <label for="billingAddress2">Address 2</label>
      <input
        [disabled]="!editMode"
        name="billingAddress2"
        [(ngModel)]="user.billingAddress.address2"
      />
      <br/>
      <label for="billingCity">City</label>
      <input
        [disabled]="!editMode"
        name="billingCity"
        [(ngModel)]="user.billingAddress.city"
      />
      <br/>
      <label for="billingCounty">County</label>
      <input
        [disabled]="!editMode"
        name="billingCounty"
        [(ngModel)]="user.billingAddress.county"
      />
      <br/>
      <label for="billingPostcode">Postcode</label>
      <input
        [disabled]="!editMode"
        name="billingPostcode"
        [(ngModel)]="user.billingAddress.postcode"
      />
      <br/>
    </div>
    <div class="address">
      <p>Shipping Address</p>
      <button *ngIf="editMode" (click)="copyAddress($event)">Copy Billing Address</button>
      <br *ngIf="editMode"/><br *ngIf="editMode"/>
      <label for="shippingAddress1">Address 1</label>
      <input
        [disabled]="!editMode"
        name="shippingAddress1"
        [(ngModel)]="user.shippingAddress.address1"
      />
      <br/>
      <label for="shippingAddress2">Address 2</label>
      <input
        [disabled]="!editMode"
        name="shippingAddress2"
        [(ngModel)]="user.shippingAddress.address2"
      />
      <br/>
      <label for="shippingCity">City</label>
      <input
        [disabled]="!editMode"
        name="shippingCity"
        [(ngModel)]="user.shippingAddress.city"
      />
      <br/>
      <label for="shippingCounty">County</label>
      <input
        [disabled]="!editMode"
        name="shippingCounty"
        [(ngModel)]="user.shippingAddress.county"
      />
      <br/>
      <label for="shippingPostcode">Postcode</label>
      <input
        [disabled]="!editMode"
        name="shippingPostcode"
        [(ngModel)]="user.shippingAddress.postcode"
      />
      <br/>
    </div>
  </div>

  <br/>
  <button *ngIf="!editMode" (click)="editUser($event)">
    Edit
  </button>
  <button *ngIf="editMode" type="submit" [disabled]="!userForm.form.valid">
    Update
  </button>
  <br/><br/>
  <button class="delete" *ngIf="editMode" (click)="deleteUser($event)">
    Delete
  </button>

</form>
