<h1>Register</h1>

<form #userForm="ngForm" (ngSubmit)="onSubmit()">

  <label for="name">
    Name:
  </label>
  <input
    type="email"
    name="name"
    required
    [(ngModel)]="user.name"
  />
  <br/>

  <label for="email">
    Email:
  </label>
  <input
    type="email"
    name="email"
    required
    [(ngModel)]="user.email"
  />
  <br/>

  <label for="password">
    Password:
  </label>
  <input
    type="password"
    name="password"
    required
    [(ngModel)]="user.password"
  />
  <br/>

  <div [hidden]="!isAdmin">
    <label for="role">
      Role:
    </label>
    <select
      name="role"
      required
      [(ngModel)]="user.role"
    >
      <option value="user" selected>User</option>
      <option value="manager">Manager</option>
      <option value="admin">Admin</option>
    </select>
    <br/>
  </div>

  <div class="addresses" *ngIf="user.role === 'user'">
    <div class="address">
      <p>Billing Address</p>
      <label for="billingAddress1">Address 1</label>
      <input
        name="billingAddress1"
        [(ngModel)]="user.billingAddress.address1"
      />
      <br/>
      <label for="billingAddress2">Address 2</label>
      <input
        name="billingAddress2"
        [(ngModel)]="user.billingAddress.address2"
      />
      <br/>
      <label for="billingCity">City</label>
      <input
        name="billingCity"
        [(ngModel)]="user.billingAddress.city"
      />
      <br/>
      <label for="billingCounty">County</label>
      <input
        name="billingCounty"
        [(ngModel)]="user.billingAddress.county"
      />
      <br/>
      <label for="billingPostcode">Postcode</label>
      <input
        name="billingPostcode"
        [(ngModel)]="user.billingAddress.postcode"
      />
      <br/>
    </div>
    <div class="address">
      <p>Shipping Address</p>
      <button (click)="copyAddress($event)">Copy Billing Address</button>
      <br/><br/>
      <label for="shippingAddress1">Address 1</label>
      <input
        name="shippingAddress1"
        [(ngModel)]="user.shippingAddress.address1"
      />
      <br/>
      <label for="shippingAddress2">Address 2</label>
      <input
        name="shippingAddress2"
        [(ngModel)]="user.shippingAddress.address2"
      />
      <br/>
      <label for="shippingCity">City</label>
      <input
        name="shippingCity"
        [(ngModel)]="user.shippingAddress.city"
      />
      <br/>
      <label for="shippingCounty">County</label>
      <input
        name="shippingCounty"
        [(ngModel)]="user.shippingAddress.county"
      />
      <br/>
      <label for="shippingPostcode">Postcode</label>
      <input
        name="shippingPostcode"
        [(ngModel)]="user.shippingAddress.postcode"
      />
      <br/>
    </div>
  </div>

  <br/>
  <re-captcha
    *ngIf="!isAdmin"
    name="captcha"
    required
    [(ngModel)]="user.captcha">
  </re-captcha>
  <br/><br/>

  <button type="submit" [disabled]="!userForm.form.valid">
    Register
  </button>

  <br/><br/>
  <button [hidden]="isAdmin" (click)="autofillUser($event)">
    Autofill
  </button>

</form>
